Django==1.9.2
psycopg2==2.6.1
djangorestframework==3.3.2
django-cors-headers==1.1.0
django-rest-auth==0.6.0
django-extended-choices==1.0.5
dj-database-url==0.4.0
gunicorn==19.4.5
whitenoise==2.0.6
newrelic==2.54.0.41
django-s3direct==0.3.12
fabric==1.10.2
django-autocomplete-light==3.1.4
raven==5.11.1
django-extensions==1.6.1